<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktiki</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            color: white;
        }

        .links {
            width: 17.5%;
            background-color: rgb(79, 75, 75);
            float: left;
            margin-top: 8px;
            margin-left: 8px;
            margin-bottom: 120px;
            border-radius: 8px;
            height: 92.5%;
            padding: 1.25%;
        }

        #chat_window {
            width: 79.4%;
            height: 100%;
            border: none;
        }

        html,
        body {
            margin: 0;
            height: 100%;
            overflow: hidden
        }

        a {
            font-size: 17px;
            text-decoration: none;
        }

        #link-wrapper {
            padding: 5px;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        #link-wrapper:hover {
            background-color: rgb(60, 57, 57);
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="links">
        <h2>Conversations </h2>
        <hr>
        <%if(sessions!=="none"){%>
            <%for(let i=0; i<sessions.length; i++){%>

                <a href="/chat?session=<%=sessions[i]%>" target="chat_window">
                    <div id="link-wrapper">
                        <%=sessions[i]%>
                    </div>
                </a>


                <%}%>
                    <%}%>
                        <hr>
                        <a href="/chat?session=new" target="chat_window">
                            <div id="link-wrapper">
                                New chat
                            </div>
                        </a>
                        <a href="/logout">
                            <div id="link-wrapper">
                                Logout
                            </div>
                        </a>

    </div>
    <iframe id="chat_window" name="chat_window" src="/chat?session=<%=sessions[0]%>" style="float: right"></iframe>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>