<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktiki</title>
</head>

<body>
    <h1>
        UPLOAD A DOCUMENT TO START A NEW CHAT
    </h1>
    <h2>
        PUT DOCUMENT NAME IN INPUT AND DOCUMENT TEXT IN TEXTAREA
    </h2>
    <input type="text" name="query" id="query" />
    <br>
    <br>
    <textarea name="text" id="textarea"></textarea>
    <br>
    <button onclick="savedoc()">SUBMIT</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function savedoc() {
            const textarea = $("#textarea").val()
            const data = { "user_id": "<%=username%>", "session_id": $("#query").val(), "type": "text-area", "query": textarea }
            $.getJSON("/request", $.param(data), (res) => {
                console.log("RESPONSE: " + res.text)
                $("#chats").append($(`<b>NEW DOCUMENT UPLOADED</b>`))
            })
            return window.location.replace(`http://localhost/chat?session=${encodeURIComponent($("#query").val())}`)
        }
    </script>
</body>

</html>